@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #f0e7db; */
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-buttonRoot {
  background-color: #0d9488;
  color: white;
}

.bg-buttonRoot:hover {
  background-color: #0f766e;
}

@media (max-width: 1300px) {
  .text-xl {
    font-size: 1rem;
  }
  .text-base {
    font-size: 0.875rem;
  }
  .text-sm {
    font-size: 0.75rem;
  }
}
